@import url("css.css");
body { color: rgb(0, 0, 0); background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-family: "Noto Sans",sans-serif; font-weight: 300; font-size: 14pt; font-style: italic; }
h1, h2, h3, h4, h5, h6 { font-family: "Noto Sans",sans-serif; font-weight: 700; }
a { color: rgb(0, 0, 0); }
a:hover { color: rgb(200, 38, 77); }
nav { background: rgba(0, 0, 0, 0) url("bg_new.jpg") no-repeat scroll center bottom; padding: 30px 0px 0px; border: 0px solid; }
.navbar { margin: 0px; border-radius: 0px; border: 0px solid; }
ul.nav { display: block; margin: 10px auto 0px; float: none; }
ul.nav li a { font-size: 16px; color: rgb(0, 0, 0); text-decoration: underline; font-weight: 400; padding: 5px 20px 20px 5px; }
ul.nav li a:hover { color: rgb(200, 38, 77); background: transparent none repeat scroll 0% 0%; }
section { padding-bottom: 20px; }
.nomain { background: rgb(123, 4, 24) none repeat scroll 0% 0%; padding: 0px; }
.nomain ul.nav li a { color: rgb(244, 227, 183); }
.nomain ul.nav li a:hover { color: rgb(238, 238, 238); }
nav .container { border-bottom: 0px solid; padding: 0px 0px 0px 10px; }
.navbar-header { display: block; width: 100%; }
nav .container .navbar-brand img { width: 100%; }
nav .container .navbar-brand { display: block; height: auto; padding: 0px; }
nav .container .navbar-brand strong { font-weight: normal; display: block; position: absolute; top: 115px; margin-left: 140px; font-size: 16px; }
.navbar-right { display: inline-block; margin-top: 10px; text-align: right; margin-right: 15px; float: right; }
.navbar-right li { margin: 0px; padding: 0px; list-style: outside none none; line-height: 22px; }
.navbar-right p { font-size: 14px; margin: 0px; padding: 0px; }
.navbar-right p.phone { font-size: 24px; }
#promoCatalog h2 { font-size: 20px; }
.list { padding: 0px 0px 10px; }
.list li { list-style: outside none none; font-size: 14px; margin: 0px; padding: 0px; }
.list .list-group-item { border: 0px solid; }
.list .list-group-item .badge { background: transparent none repeat scroll 0% 0%; color: rgb(0, 0, 0); }
footer { background: rgb(123, 4, 24) none repeat scroll 0% 0%; padding: 30px 0px; }
footer * { color: rgb(244, 227, 183); }
footer a:hover { color: rgb(255, 255, 255); text-decoration: underline; }
footer p { font-size: 14px; }
footer h4 { border-bottom: 1px solid rgb(244, 227, 183); }
footer .folow a { font-size: 20px; margin-right: 5px; border: 1px solid rgb(244, 227, 183); border-radius: 20px; width: 40px; height: 40px; text-align: center; padding-top: 9px; }
footer .folow a:hover { color: rgb(123, 4, 24); text-decoration: none; background: rgb(244, 227, 183) none repeat scroll 0% 0%; }
.main_content { background: rgb(123, 4, 24) none repeat scroll 0% 0%; margin-bottom: 20px; padding: 0px 0px 30px; }
.main_content * { color: rgb(244, 227, 183); }
.main_content p { font-size: 14px; }
.slider_block { overflow: hidden; position: relative; padding-bottom: 0px; }
.slider_block::before { content: ""; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 1; }
.slick-center { position: relative; z-index: 10; box-shadow: 0px 0px 60px 25px black; }
.slick-slide { height: auto !important; }
@media (max-width: 700px) {
  nav .container .navbar-brand { width: 60%; padding-top: 0px; }
  .navbar-right { position: relative; margin-right: -50px; }
  .navbar-right p { font-size: 14px; margin: 0px; padding: 0px; }
  .navbar-right p.phone { font-size: 18px; }
  h2 { font-size: 22px; }
  nav .container .navbar-brand strong { font-size: 12px; top: 90px; margin-left: 80px; line-height: 12px; }
}
